.cards {
    display: flex;
    margin: 10px;
    border-radius: 20px;
    width: 300px; 
    align-items: center;
    gap: 20px;
}

.image {
    border-radius: 10%;
    margin: 10px;
    max-width: 30%;
    height: 80px;
    width: 100px;
}


  