.comment {
    font-family: var(--font-pacifico);
    font-size: 25px;
    width: 200px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
  }
.darkcmnt {
  background-color: var(--dark);
  color: var(--light);
  
}
.lightcmnt {
  background-color:var(--light);
  color: var(--dark);
}

.circle {
  position:absolute;
  z-index: 10;
}
.circle:nth-child(1) {
  top:40%;
  left: 20%;
  rotate: 15deg;
}
.circle:nth-child(2) {
  top:80%;
  left:-5%;
}
.circle:nth-child(3) {
  top:60%;
  left: 0%;
  rotate: -25deg;
}
.circle:nth-child(4) {
  top:40%;
  left: 90%;
  rotate: 40deg;
}
.circle:nth-child(5) {
  top: 75%;
  left: 99%;
  rotate: -30deg;
}
.circle2 {
  position:absolute;
  z-index: 10;
}
.circle2:nth-of-type(1n) {
  top: 100%;
  left: -2%;
  rotate: 10deg;
}

.circle2:nth-child(2n) {
  top: 115%;
  left: 45%;
  rotate: -20deg;
}

.circle2:nth-child(3n) {
  top: 100%;
  left: 90%;
  rotate: 30deg;
}


.mainset {
    position: relative;
    bottom: -20%;
    left: 50%;
    top: 100px;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -10%);
}
  
.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.images {
    width: 100%;
    height: auto;
    position:absolute;
    bottom:-200px;
    rotate: -25deg;
    z-index: 5;    
}
