.guisados {
    color: var(--light);
  }
  .guisadostexts {
    display: flex;
    margin-top: -180px;
  }
  .ndtext {
    font-size: 200%;
    margin-left: 30%;
  }
  .ndsection {
    padding-top: 4%;
    width: 40%;
    margin-left: 10%;
  }
  .container {
    padding-top: 600px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .numbert{
    font-size: 1500%;
    font-family: var(--font-rodchenko);
    margin-left: 10%;
  }

  .titleFont {
    font-family: var(--font-rodchenko);
    font-size:990% ;
    padding-top: 2%;
    margin-left: 15%;
  }
 .cardcontainer {
  display: inline-flex;
  width: 100%;
  padding-top: 2ch;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
 }