.guisados {
    color: var(--light);
  }
  .container {
    padding-top: 600px;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .numbert{
    font-size: 1500%;
    font-family: var(--font-rodchenko);
  }

  .titleFont {
    font-family: var(--font-rodchenko);
    font-size:990% ;
    padding-top: 1%;
  }
  