.container {
  padding-top: 300px;  
  position: relative;
    width: 100%;
    height: 100%;
  }

  .images {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 30%;
    height: 30%;
    transform: translate(-50%,-80%);
  }

  .titleFont {
    font-family: var(--font-rodchenko);
    font-size:1200% ;
    text-align: center;
  }
  .sentece {
    text-align: center;
    font-family: var(--font-alegreya);
    font-size: 200%;
    margin-top: 70px;
  }

  .cardcontainer {
    display: inline-flex;
    width: 100%;
    padding-top: 2ch;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 220px;
   }

   

