.sections {
    
    &:nth-of-type(odd) {
      background-color: var(--light);
      color: var(--dark);
      height: 10vh;
    }
  
    &:nth-of-type(even) {
      background-color: var(--dark);
      color: var(--light);
      height: 90vh;
    }
  }

.block {
    color: var(--light);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    
    margin: 20px;
    align-items: center;
}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 100px;
}

.input {
  width: 50%;
  height: 30px;
  border-radius: 20px;
  background-color: var(--light);
  text-align: left;
  padding-left: 20px;
  font-family: var(--font-alegreya);
  font-size: 18px;
}

.inputm {
  width: 50%;
  height: 120px;
  border-radius: 20px;
  background-color: var(--light);
  text-align: left;
  padding-left: 20px;
  font-family: var(--font-alegreya);
  font-size: 18px;
}

.label {
 font-family: var(--font-alegreya);
 padding-bottom: 10px;
 font-size: 20px;
}

.button{
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 20px;
  background-color: var(--light);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: var(--font-alegreya);
  border-radius: 20px;
  border: none;
  transition-duration: 0.4s;
  width: 150px;

  &:hover {
    background-color:#f2d999;
  }
}

.formcontainer {
  padding-top: 2%;
}
