/* .sections {
  min-height: 100vh;

    &:nth-of-type(odd) {
      background-color: var(--light);
      color: var(--dark);
    }
  
    &:nth-of-type(even) {
      background-color: var(--dark);
      color: var(--light);  
    }
  } */


  
  .subtitle {
    font-family: var(--font-rodchenko);
    font-size: 60px;
    padding-top: 20px;
    text-align: center;
  }

  .container1 {
    display: flex;
    float: left;

  }
  /* .container2 {
    display: flex;
    float: left;
    flex-direction: column;
  }
  .container3 {
    display: flex;
    float: left;
    flex-direction: column;
  } */
