.title {
    font-family: var(--font-rodchenko);
    font-size: 120px;
    color: var(--dark);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container {
    background-color: var(--light);
    height: 100px;
}