.content {
  max-width: 1440px;
  margin: 0 auto;
}

.navBar {
    overflow: hidden;
    width: 100%;
    background-color: var(--light);
  }

  .navBarR{
    float: right;
  }
  
  .optionsN {
    display: inline;
    text-decoration: none;   
    margin: 15px;
    font-size: 20px;
  }

  .decoration {
    font-family: var(--font-alegreya);
    color: var(--dark);
    text-decoration: none;

    &:hover {
     font-size: 25px;
     text-decoration: underline;
    }
  }



 