



  .commentw {
    background-color:var(--light);
    color: var(--dark);
    font-family: var(--font-pacifico);
    width: 120px;
    margin: 20px;
  }

  .guisados {
    color: var(--light);
  }

  .productContainer {
    display: flex;
    justify-content: center;
  }

  .descriptionandImg {
    display: flex;
   background-color: var(--light);
   color: var(--dark);
   margin: 10px;
   border-radius: 5px;
  }

  .descriptionandImgB {
    display: flex;
    background-color: var(--dark);
    color:var(--light);
    margin: 10px;
   border-radius: 5px;
  }

  /* .productImage {
    
  }

  .productText{
   
    
  } */

  .text2{
    color: var(--light);
  }